
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



body {
    font-family: "Raleway", sans-serif;

  }
  
  .app {
    display: flex;
    color: #333;
  
    .main-content {
      flex: 1;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
  
      .dashboard-content {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
      }
    }
  }
  
/* App.css */
.app {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dashboard-content {
  padding: 20px;
}

@media (max-width: 768px) {
  .dashboard-content {
      padding: 10px;
  }
}


